.bg-car{
    background-image: url(assets/images/Hyundai.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color: black;
}
.x{
    font-weight: 900;
    font-size: 50px;
    font-style: oblique;
    color: rgb(250, 57, 57);
}
.carz{
    color: #6f6632;
}
.transparent{
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 1rem;
    color: white;
    transition: background-color 2s ease , color 2s ease;
}
.transparent:hover{
    background-color: white;
    color: green;
    text-decoration: none;
}
.space-between{
    justify-content: space-evenly;
}
.bg-black{
    background-color: #080D13;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.footer-section{
    padding-left: 10rem;
    padding-bottom: 3rem;
    padding-right: 10rem;
    padding-top: 5rem;
  }
  .h{
    font-size: 20px;
    font-weight: 600;
    font-style:  Foundersgrotesk, sans-serif;
    color: #000000;
    font-style:  Foundersgrotesk, sans-serif
  }
  .sub-h{
    font-size: 13px;
    color: #484444;
    font-style:  Foundersgrotesk, sans-serif;
  } 
  .footer-section a:hover{
    color: #000000;
  }
  .space-evenly{
    justify-content: space-evenly;
}
.wrapping{
    flex-wrap: wrap;
  }
  .l-h-1{
    line-height: 24px;
  }
  a:hover{
    text-decoration: none;
  }


/* =========================cart-=================== */
.sign-up-btn{
    border-radius: 4rem;
    padding: 4px 18px;
    transition: padding 1s ease-out , border 1s , color 1s;
    border: 2px solid white;
    color: green;
}
.sign-up-btn-2{
    border-radius: 4rem;
    padding: 4px 18px;
    transition: border 1s , color 1s , transform 1s ;
    border: 2px solid white;
    color: green;
}
.sign-up-btn:hover{
    padding: 10px 33px;
    box-shadow: 0,0,0,o.55 black;
    text-decoration: none;
    color: white;
    border: 2px solid green;
}
.sign-up-btn-2:hover{
    box-shadow: 0,0,0,o.55 black;
    text-decoration: none;
    color: white;
    border: 2px solid green;
    transform: translateY(-10px);
}
@keyframes fadein {
    from{
        opacity: -3;
    }
    25%{
        opacity: -2;
    }
    50%{
        opacity: -1;
    }
    75%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade-in{
    animation-name: fadein;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-iteration-count: fixed;
    animation-fill-mode: none;
    animation-play-state: unset;
}



/* ==========================signup-page============================ */
.bg-1{
    background-image:linear-gradient(rgba(0,0,0,0.55) , rgba(0,0,0,0.55)) ,url(assets/images/sign-up-car.jpg);  
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
}
.overflow-x-hidden{
    overflow: hidden;
}
.input::placeholder{
    color: green;
}
.input{
    padding: 7px 22px;
    border-radius: 1rem;
    outline: 0;
    transition: padding 1s;

}
.input:hover{
    padding: 7px 30px; 
}




@media(max-width:750px){
    .bgg-car{
        background-image: url(assets/images/Hyundai.jpg);
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: 36rem 40rem;
    }
    .footer-section{
        padding-left: 1rem;
        padding-bottom: 2rem;
        padding-right: 3rem;
        padding-top: 3rem;
      }
      .fr-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
      .m-b-3{
        margin-bottom: 3rem;
      }
}


@media(max-width:515px){
    .center-text-515{
        text-align: center;
    }
    .f-size-22-515{
        font-size: 42px;
    }
    .f-size-20-515{
        font-size: 32px;
    }
    .w-90-515{
        width: 90%;
    }
    .footer-section{
        padding-left: 5px;
        padding-bottom: 2rem;
        padding-right: 3rem;
        padding-top: 3rem;
      }
}